.card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    grid-auto-rows: 200px;
    margin-top: 50px;
}
.pageBtn {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    font-size: 14px;
}

.pagination {
    margin-top: 80px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
