.details-img {
    width: 200px;
    height: 200px;
}
.dropbtn {
    background-color: #4caf50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    margin-top: 40px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.main-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(243, 101, 184, 0.5);
    display: flex;
    justify-content: center;
}

.inner-modal {
    width: 400px;
    height: 500px;
    background-color: rgb(135, 209, 243);
    margin-top: 100px;
    text-align: center;
    box-shadow: 5px 5px 4px cadetblue;
}
.close-btn {
    float: right;
}
.inpModal {
    width: 300px;
    padding: 8px 0px;
    margin-bottom: 10px;
}
.edit-btn {
    margin-top: 30px;
    background-color: rgb(83, 11, 80);
    padding: 4px 8px;
}
.close {
    margin-top: 40px;
}

.main_container_car{
    width: 1020px;
    padding: 5px;
    border: 1px solid blue;
    background-color: white;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap; 
    
}

.carinfo-container{
    width: 740px;
    padding: 5px;
    border: 1px solid red;
    max-height: 750px;
    display: flex;
    flex-wrap: wrap;   
}
.sell_name{
    width:100%;

    display: flex;
  
   
}
.sell_som_dollar_block{
    width: 400px;
    
}
.sell_name_left{
    
    width:700px;
    font-weight: 500;
    
  
}

.sell_dollar{
    text-align:right;
    

}

.sell_som{
    
    text-align:right;

}
.carinfo_left{
    width:200px;
    padding:10px;
    margin: 10px 0 0 0;
    float:left;
}
.field-row{
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align:left;
}

.item{
   
    text-align: left;
    width:90px;
    font-size: 13px;
    font-weight: initial;
    margin-top:10px;
}

.left-item{
    color: #808080;

}
.car_image_card{
    width:470px;
    height:300px;
    margin: 7px 0 0 5px;
    
    background-size: 100%;
}
.car_image_card img{
    width: 410px;
}

.car_description{
   
    
    margin: 10px 0 0 0;
}

.car_image_block{
    margin: 20px 0 0 0 ;
}


.edit-inps{
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    width: 90px;
    
}
.edit_carDescription{
    margin-top:50px;
    border: 1px solid #DCDCDC;
    padding: 5px;
    width:398px;
    margin-left:5px;
}
.top-inps{
    width:70px;
    color:black;
}
.edit-description{
    width: 350px;
    height:100px;
    text-align:left;
   
}