.main_inp-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    /* margin-top: 10px; */
}
.form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inp-container {
    padding-top: 10px;
    width: 70%;
    display: flex;
    justify-content: center;
    background-color: #008ac9;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 5px 4px 3px 2px;
}
h2 {
    text-align: center;
}
.inp-add {
    width: 400px;
    /* margin-bottom: 10px; */
    padding: 5px 0;
    outline: none;
}
.inpBtn {
    padding: 5px 15px;
}
.inpBtn:hover {
    background-color: #008ac9;
    outline: none;
}
.main-btn {
    position: relative;
    outline: none;
    padding: 3px 10px;
    background-color: #fff;
}
.main-btn:hover {
    background-color: #008ac9;
}
#cars {
    width: 150px;
    height: 25px;
}
@media screen and (max-width: 850px) {
    .inp-container {
        padding-top: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #008ac9;
        /* padding-bottom: 20px; */
        border-radius: 20px;
        box-shadow: 5px 4px 3px 2px;
    }
    .inp-add {
        width: 240px;
        /* margin-bottom: 10px; */
        padding: 5px 0;
        outline: none;
    }
    .main_inp-container {
        position: relative;
        display: flex;
        width: 100%;
        justify-content: safe;
        flex-direction: column;
        align-items: center;
        /* height: 100vh; */
        /* margin-top: 10px; */
    }
    .main-btn {
        position: absolute;
        margin-left: -370px;
        float: left;
        outline: none;
        padding: 3px 10px;
        background-color: #fff;
    }
}
