.main_inp-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 800px;
    margin-top: 10px;
}
.inp-container {
    padding-top: 10px;
    width: 60%;
    display: flex;
    justify-content: center;
    background-color: #008ac9;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 5px 4px 3px 2px;
}
h2 {
    text-align: center;
}
.inp-add {
    width: 300px;
    margin-bottom: 10px;
    padding: 5px 0;
    outline: none;
}
.inpBtn {
    padding: 5px 15px;
}
.main-btn {
    position: relative;
    outline: none;
    padding: 3px 10px;
    float: right;
    background-color: #fff;
}
